@model BP.WebUI.Models.FilterViewModel

    @for (int i = 0; i < Model.Skills.Count; i++)
    {
        <div class="form-group">
            <label>
                @Html.CheckBoxFor(x => x.Skills[i].Include)
                @Model.Skills[i].Skill.Skill.Name
            </label>
            <br />
            @Html.TextBoxFor(x => x.Skills[i].Skill.Level, new { @class = "from-control" })
            @Html.HiddenFor(x => x.Skills[i].Skill.Skill.Id)
            @Html.HiddenFor(x => x.Skills[i].Skill.Skill.Name)
        </div>
    }