@model BP.WebUI.Models.FilterViewModel

@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>

<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm())
        {
            <div>@Html.Hidden("Id", Model.Id)</div>
            for (int i = 0; i < Model.Skills.Count; i++)
            {
                <div class="form-group">
                    <label>
                        @Model.Skills[i].Skill.Name
                    </label>
                    <br />
                    @Html.TextBoxFor(x => x.Skills[i].Level, new { @class = "rt", type = "number", data_size = "xs" })
                    @Html.HiddenFor(x => x.Skills[i].Skill.Id)
                    @Html.HiddenFor(x => x.Skills[i].Skill.Name)
                </div>
            }
            <button class="btn btn-primary" name="browse" type="submit">@Resources.Resource.ButtonSubmit</button>
            <button class="btn btn-success" name="save" type="submit">Save</button>
        }
    </div>
    @Html.Action("GetUsers", new { obj = Model })
</div>

@section Scripts
{
    <script type="text/javascript">
        function RefreshRatings() {
            $(".rt").rating({
                'min': 0, 'max': 4, 'step': 1, 'stars': 4,
                'clearCaption': "@Resources.Resource.NotRated",
                'starCaptions': {
                    0: "@Resources.Resource.NotRated",
                    1: "@Resources.Resource.Novice",
                    2: "@Resources.Resource.Intermediate",
                    3: "@Resources.Resource.Advanced",
                    4: "@Resources.Resource.Expert"
                }
            });
        }
        RefreshRatings();
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}