@model BP.WebUI.Models.UserInfoViewModel

@{
    ViewBag.Title = Resources.Resource.EditInfo;
    string lang = Request.Cookies["lang"] == null ? "en" : Request.Cookies["lang"].Value;
}

<h2>@User.Identity.Name</h2>

@using (Html.BeginForm("EditInfo", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label>@Resources.Resource.UserName</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>@Resources.Resource.Birthday</label>
        @Html.TextBoxFor(x => x.BirthDate, new
   {
       @class = "form-control",
       data_provide = "datepicker",
       data_date_language = lang,
       data_date_end_date = DateTime.Now.ToShortDateString(),
       data_date_start_view = 2,
       placeholder = Resources.Resource.DateFormat
   })
    </div>
    <div class="form-group">
        <label>@Resources.Resource.AboutMe</label>
        @Html.TextAreaFor(x => x.About, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>@Resources.Resource.Photo</label>
        <a href="javascript:;">
            <input type="file" name="Image" class="btn btn-default" onchange="$('#upload-file-info').html($(this).val());" />
        </a>
        <span class="label label-info" id="upload-file-info"></span>
    </div>
    if (Model.Photo != null)
    {
        <img class="img-thumbnail" src="@Url.Action("GetImage", new { photo = Model.Photo, imageType = Model.ImageType })" />
    }
    <button type="submit" class="btn btn-primary">@Resources.Resource.ButtonSubmit</button>
    @Html.ActionLink(Resources.Resource.ButtonCancel, "Index", "Profile", null, new { @class = "btn btn-default" })
}

@section Scripts
{
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    @if (lang == "ru")
    {
        <script src="~/Scripts/bootstrap-datepicker.ru.min.js"></script>
    }
}