@{
    ViewBag.Title = @Resources.Resource.Welcome;
}

<br />

<div class="jumbotron" style="background: url('../../Content/Images/punter.jpg') right top;background-color:blueviolet;min-height:74vh;background-size:cover;">
    <div class="jumbotron" style="background-color:white; opacity: 0.95;padding-top: 1em;">
        <p style="font-size:7vh;">@Resources.Resource.Welcome</p>
        <p>@Resources.Resource.BPDescription</p>
        @if (!User.Identity.IsAuthenticated)
        {
            <p>@Html.ActionLink(Resources.Resource.SignIn, "Login", "Account") @Resources.Resource.OrRegister</p>
            <div class="btn-group">
                @Html.ActionLink(Resources.Resource.ButtonProgrammerRegister, "Register", "Account", new { role = "Programmer" }, new { @class = "btn btn-lg btn-primary" })
                @Html.ActionLink(Resources.Resource.ButtonManagerRegister, "Register", "Account", new { role = "Manager" }, new { @class = "btn btn-lg btn-default" })
            </div>
        }
        else
        {
            <p>
                @Resources.Resource.GoToProfile
                @Html.ActionLink(Resources.Resource.Profile, "Index", "Profile", null, new { @class = "btn btn-lg btn-success" })
            </p>
        }
    </div>
</div>