@model IEnumerable<BP.BLL.Interface.Entities.Users.BllProgrammer>
@{
    ViewBag.Title = Resources.Resource.Report;
}

<h2>@Resources.Resource.Report</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            @Resources.Resource.UsersInReport
            <span class="pull-right">@Html.ActionLink(Resources.Resource.Download, "Download", null, new { @class = "btn btn-xs btn-success" })</span>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th>@Resources.Resource.Email</th>
                <th>@Resources.Resource.UserName</th>
                <th>@Resources.Resource.Action</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@Html.ActionLink(user.Name ?? user.Id.ToString(), "Index", "Profile", new { id = user.Id }, null)</td>
                    <td>
                        @using (Html.BeginForm())
                        {
                            @Html.Hidden("email", user.Email)
                            <button type="submit" class="btn btn-xs btn-danger">@Resources.Resource.ButtonDelete</button>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>